# Ignore Next.js build and cache folders
.next/
out/
# Ignore dependencies
/node_modules
# Ignore environment variables files
.env
.env.local
.env.development.local
.env.production.local
# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
# Ignore editor and system files
.DS_Store
.vscode/
*.swp
*.swo
# Vercel-specific files
.vercel/
# Next.js specific build files
dist/
build
client_secret_2_562788554272-4srv9tqasnkmibjqh0svlhfse57u3v73.apps.googleusercontent.com.json